#===project===
launch4j.log
manifest.txt
RandomNamePicker.iml
RandomNamePicker.jar
RandomNamePicker.xml
log/
data/
#====java====
jre/
jre*/
**/jre/
*.jdk
*.jre
#===IDEA===
.idea/
*.iml
*.ipr
*.iws
out/
#===Eclipse===
.classpath
.project
.settings/
bin/
#===log===
logs/
log/
*.log
#====System files===
.DS_Store
Thumbs.db

*.zip
*.exe

#===internal task file===
prompt.txt